.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  text-align: center;
  width: 300px;
  margin: 10px;
}

.intro {
  background-color: #fff;
  margin: 5px 0 5px 0;
  padding: 10px 10px 10px 10px;
  font-weight: 700;
  text-align: center;
  /* border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; */
  border-radius: 3px;
}

section {
  background-color: #fff;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 3px;
}

section h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 900;
}

.image-container {
  padding: 5px;
  /* border: 4px solid #000;
  border-radius: 4px; */
}

/* .form-element {
  width: 33.333%;
  display: inline-block;
} */

.form-element {
  width: 32%;
  display: inline-block;
}

.error {
  font-weight: 900;
  font-size: 14px;
  color: #ff0080;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-element label {
  display: block;
  width: 100%;
  text-align: center;
}

.form-element label select,
.form-element label input {
  width: 80%;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  border: 3px solid #000;
}

.form-element label input {
  border-radius: 4px;
  padding: 2px;
  font-weight: 700;
}

/* button[type='submit'] {
  width: 100%;
  display: block;
  margin: 20px auto 0;
  padding: 15px;
  border: 4px solid #000;
  background-color: #fff;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
} */

button[type='submit'] {
  width: 68%;
  margin: 0px 0px 10px 0px;
  padding: 15px;
  border: 4px solid #000;
  background-color: #fff;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  border-radius: 4px;
}

.buy:disabled {
  color: lightgray;
}

button[type='submit']:disabled {
  color: lightgray;
}

/* overwrite the strong styling for disable buttons */
button[type='submit']:disabled strong {
  color: lightgray;
}

.label {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}

.product-name-label {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}

.price-label {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}

@media (min-width: 700px) {
  /* .form-element label input,
  .form-element label select {
    width: 60%;
  } */

  .form-element label input,
  .form-element label select {
    width: 80%;
    font-weight: 700;
  }

  /* .label {
    display: inline-block;
    margin-right: 10px;
  } */
  .label {
    display: inline-block;
  }
}

.cart {
  position: relative;
}

.clear-cart:disabled {
  color: lightgray;
}

.status {
  text-align: center;
}

.cart .status {
  font-weight: 700;
}

.cart .status strong {
  color: #ff0080;
}

.buy-button strong {
  color: #ff0080;
}

.price,
.description strong {
  color: #ff0080;
}

.clear-cart {
  display: block;
  /* width: 100%; */
  margin: 20px 0;
  border: 4px solid #000;
  background-color: #fff;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

.buy {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 5px 10px;
  /* border: 4px solid transparent; */
  border-image: -webkit-linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  border-image: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  border-image-width: 4px;
  border-image-slice: 1;
  background-color: #fff;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

@media (min-width: 700px) {
  .clear-cart,
  .buy {
    width: auto;
  }

  .buy {
    position: absolute;
    right: 20px;
    top: 0;
  }

  .clear-cart {
    position: absolute;
    left: 140px;
    top: 0;
  }
}

.cart-items {
  padding-left: 0;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -15px;
  list-style-type: none;
}

.cart-item {
  width: 43%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 10px 15px 15px 15px;
  border: 4px solid #000;
  border-radius: 4px;
}

.cart-item .cancel {
  cursor: pointer;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.cart-item p {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 700;
}

.cart-item p:last-child {
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .cart-item {
    width: 30%;
  }
}
